{% extends 'base.html' %}

{% block title_tab %}
<title>Ini adalah title</title>
{% endblock title_tab %}

{% block contents %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<form method="POST" id='form' >
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-3 row justify-content-between">
        <label for="{{field.id_for_label}}" class="col-sm-5 col-form-label">{{field.label}}</label>
        <div class="col-sm-6">
            <select name='{{field.name}}' id='{{field.id_for_label}}' class="form-select" required>
                <option value=''>Open this select menu</option>
                {% for value in field %}
                {{value}}
                {% endfor %}
            </select>

        </div>
    </div>
    {% endfor %}




    <button type="Submit" class="btn btn-warning">Prediksi</button>
</form>

{% endblock contents %}